.about {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: left;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: url("../img/bg-zigzag-line.svg") center repeat-x;
    background-size: 319px 7px;
    transform: rotate(180deg);
    overflow: hidden;
    width: 100%;
    height: 25px;
    top: -10px;
    left: 0;
    box-sizing: border-box;
  }
}

.about__container {
  width: 82%;
  padding: 0 9%;
}

.about__header {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 12px;
}

.about__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about__item {
  position: relative;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 87px;
  margin-bottom: -4px;
  margin-right: 2%;
  width: 98%;

  &:nth-child(1) {
    .about__ico {
      left: 10px;
      top: -55px;
      width: 32px;
      height: 38px;
    }
  }

  &:nth-child(2) {
    .about__ico {
      left: 1px;
      top: -52px;
      width: 46.575px;
      height: 27.332px;
    }
  }

  &:nth-child(3) {
    .about__ico {
      left: 9px;
      top: -48px;
      width: 33.05px;
      height: 27.857px;
    }
  }

  &:nth-child(4) {
    .about__ico {
      left: 5px;
      top: -52px;
      width: 34.373px;
      height: 34.373px;
    }
  }

  &:nth-child(5) {
    .about__ico {
      left: -5px;
      top: -52px;
      width: 54.156px;
      height: 23.183px;
    }
  }

  &:nth-child(6) {
    .about__ico {
      left: 4px;
      top: -52px;
      width: 32.666px;
      height: 32.486px;
    }
  }
}

.about__ico {
  position: absolute;
  left: 0;
  top: -1px;
}

@media (min-width: $tablet-width) {
  .about {
    &::after {
      background-size: $tablet-width 16px;
      height: 25px;
      top: -4px;
    }
  }

  .about__container {
    background-size: 100%;
    width: 88%;
    padding: 0 6%;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about__header {
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    padding-top: 30px;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 20px;
  }

  .about__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 450px;
  }

  .about__item {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    width: 48%;
    margin-bottom: 13px;
  }

  .about__ico {
    position: absolute;
    left: 0;
    top: -50px;
  }
}


@media (min-width: $desktop-width) {
  .about {
    width: 1050px;

    &::after {
      background-size: 100% 22px;
      height: 4.5%;
      top: -3px;
    }
  }

  .about__container {
    width: 715px;
    margin: 52px auto 0;
    padding: 0;
  }

  .about__header {
    width: 1050px;
    margin: 0 auto;
    margin-top: 0;
    font-size: 53px;
    line-height: 57px;
  }

  .about__list {
    width: 700px;
    margin: 20px auto 0;
  }

  .about__item {
    width: 337px;
  }
}
