.about{
  width: 260px;
  margin: 0 auto;
}
.about__header{
  font-family: "opensansbold", Arial, sans-serif;
  font-size: 25px;
  line-height: 30px;
}
.about__item{
  font-family: "opensansbold", Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;

  position: relative;
}
.about__ico{
  margin: 20px;
  path{
    fill: rgba(99, 209, 187, 1);
  }
}
