.about{
  width: 260px;
  margin: 0 auto;
}
.about__header{
  font-size: 25px;
  line-height: 30px;
}
.about__item{
  font-size: 17px;
  line-height: 20px;

  position: relative;
}
.about__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.about__ico{
  margin: 20px;
}
