.cart__container{
  background-color: $bg-footer;
}
.cart__header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  margin: 0 auto;
  color: $f-color;
  min-height: 177px;
}
.cart__form{
  width: 260px;
  margin: 0 auto;
}
.cart__info{
  width: 260px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 24px;
}

.cart__list{
  width: 260px;
  margin: 0 auto;
}
.cart__list{
  border: none;
  border-top: 1px solid $firm-bgcolor;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.cart__logo{
  list-style: none;
  color: $firm-bgcolor;
  width: 70px;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
}
@media (min-width: $tablet-width) {
  .cart__header{
    width: 668px;
  }
  .cart__info{
    width: 668px;
  }
  .cart__form{
    width: 100%;
    margin: 0 auto;
  }
  .cart__list{
    width: 468px;
    margin: 0 auto;
    border: none;
  }
  .cart__logo{
    margin-left: -100px;
    position: absolute;
    width: 90px;
  }
  .cart__containers{
    background-color: $bg-footer;
  }
  .cart__container-btn{
    display: flex;
    justify-content: space-around;
    width: 668px;
    margin: 0 auto;
  }
  .cart__footnote{
    display: block;
    margin: 15px 0;
    order: 2;
  }
  .cart__btn{
    display: block;
    order: 1;
  }

  .cart__list{
    display: flex;

  }
  .cart__color{
    width: 200px;
    margin: 0;


  }


}
@media (min-width: $desktop-width) {
  .cart__header{
    width: 1050px;
  }
  .cart__info{
    width: 1050px;
  }

  .cart__list{
    width: 850px;
    margin: 0 auto;
    border: none;
  }

  .cart__container-btn{
    width: 1050px;
  }

}
