.catalog{

}
.catalog__logo{
  min-height: 177px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-footer;

}
.catalog__item{
  margin-top: 30px;
  border-bottom: 1px solid $c-border;
}
.catalog__head{
  font-size: 27px;
  line-height: 30px;
}
.catalog__product{
  width: 260px;
  margin: 0 auto;
}
.catalog__link{
  text-decoration: none;
  color: $color;

}
.catalog__name{
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  margin: 0 28px;
}
.catalog__info{
  margin: 0 28px;
  font-size: 13px;
  line-height: 30px;
  color: $reviev-color;
}
.catalog__price-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 28px;
  min-height: 72px;
  padding: 0;
  border-top: 1px solid $c-border;
}
.catalog__price{
  display: block;
  font-size: 15px;
  line-height: 24px;

}
.catalog__icon{
  path{
    fill: $c-border;
  }
}
@media (min-width: $tablet-width) {
  .catalog__product{
    width: 668px;
    margin: 0 auto;
  }
  .catalog__link{
    display: flex;
  }
  .catalog__name{
    width: 278px;

    word-wrap: break-word;
  }
  .catalog__item{
    display: flex;
  }
  .catalog__info{
    margin-bottom: 100px;
  }
  .catalog__container{
    width: 324px;
  }
  .catalog__price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 28px;
    min-height: 30px;
    padding: 0;
    border-top: 1px solid $c-border;
  }


}

@media (min-width: $desktop-width) {
  .catalog{

  }
  .catalog__product{
    width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  .catalog__item{
    flex-direction: column;
  }



}
