.contacts {
  background: url("../img/bg-zigzag-line.svg") 50% 0 repeat-x;
  background-size: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.contacts__container {
  width: 82%;
  padding: 0 9%;
}

.contacts__header {
  margin: 0;
  padding-top: 42px;
  padding-bottom: 26px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 37px 0;
  padding: 0;
}

.contacts-list__item {
  font-size: 15px;
  line-height: 30px;
  color: $reviev-color;

  &:nth-child(odd) {
    width: 29%;
    margin-bottom: 30px;
  }

  &:nth-child(even) {
    width: 71%;
    margin-left: auto;
  }
}

.contacts-list__address {
  font-style: normal;
}

.contacts-list__mail {
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid $firm-bgcolor;
  color: $reviev-color;
  transition: all 0.3s ease;

  &:hover {
    transition: all 0.3s ease;
    color: $firm-bgcolor;
  }

  &:active {
    transition: all 0.3s ease;
    opacity: 0.3;
  }
}

.contacts__back {
  display: block;
  min-height: 475px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  position: relative;

  &::after {
    content: "";
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
    z-index: 1;
    width: 67px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -23px;
    top: 143px;
  }
}

.contacts__btn-write {
  margin: 0 auto;
  margin-bottom: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $reviev-color;
  border: 2px solid $reviev-color;
  width: 80%;
  height: 48px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    transition: all 0.3s ease;
    background-color: $reviev-color;
    color: $color-whete;
  }

  &:active {
    transition: all 0.3s ease;
    color: rgba($color-whete, 0.3);
  }
}

.contacts__containers {
  width: 82%;
  padding: 0 9%;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 57px;
  }

  .contacts__container {
    width: 88%;
    padding: 0 6%;
  }

  .contacts__header {
    display: flex;
    width: 100%;
    font-size: 43px;
    line-height: 50px;
    padding-top: 77px;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 49px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      right: 0;
      bottom: -16px;
      width: 54px;
      height: 81px;
    }
  }

  .contacts__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
    margin: 0 auto;
    margin-bottom: 56px;
  }

  .contacts-list__item {
    font-size: 17px;
    line-height: 30px;

    &:nth-child(odd) {
      width: 11%;
      margin-bottom: 46px;
    }

    &:nth-child(even) {
      width: 38.5%;
      margin: 0;
    }
  }

  .contacts__back {
    margin-bottom: 37px;
  }

  .contacts__btn-write {
    width: 29.5%;
    margin-bottom: 0;
  }

  .contacts__containers {
    width: 88%;
    padding: 0 6%;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 50px;
    min-height: 607px;
    margin: 0 auto;
    width: 1050px;
    position: relative;
  }

  .contacts__container {
    width: 708px;
    margin: 0 auto;
    margin-top: 116px;
    padding: 0;
  }

  .contacts__header {
    margin: 0;
    padding: 0;
    text-align: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    font-size: 53px;
    line-height: 57px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      right: 0;
      bottom: -15px;
      width: 54px;
      left: -108px;
    }
  }

  .contacts__list {
    width: 350px;
    margin-left: 0;
    flex-direction: row;
    padding-top: 46px;
  }

  .contacts-list__item {
    font-weight: 15px;
    font-style: 30px;

    &:nth-child(odd) {
      width: 23%;
      margin-bottom: 28px;
    }

    &:nth-child(even) {
      width: 77%;
      margin-left: auto;
    }
  }

  .contacts__back {
    position: absolute;
    min-height: 460px;
    margin: 0 auto;
    width: 524px;
    height: 457px;
    left: 50%;
    top: 94px;
  }

  .contacts__btn-write {
    width: 226px;
    padding: 0;
    margin: 82px 175px 0;
  }
}
