.contacts{
  width: 260px;
  margin: 0 auto;
}
.contacts__list{
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.contacts__header{
  font-weight: 18px;
  font-style: 30px;
  margin-bottom: 40px;
}
.contacts-list__item{
  font-weight: 15px;
  font-style: 30px;
  &:nth-child(odd){
    width: 74px;
    margin-bottom: 46px;
  }
  &:nth-child(even){
    width: 186px;
  }
}
.contacts-list__mail{
  text-decoration: none;
  border-bottom: 1px solid $firm-bgcolor;
  color: $color;
  &:visited{
    color: $color;
  }

}
