.footer{
  background-color: $bg-footer;
}

.footer__social{
  width: 260px;
  margin: 0 auto;
}
.footer__list{
  min-height: 80px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 40px;
  padding: 0;
  border-bottom: 1px solid $bg-footer-line;
}
.footer__link{
  path{
    fill: $reviev-color;
  }
  &:hover path{
    fill: $firm-bgcolor;
  }
  &:active path{
    fill: $reviev-color;
    opacity: 0.3;
  }
}
.footer__copyright{
  width: 260px;
  margin: 0 auto;
}
.footer__container{
  min-height: 80px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.footer__academy{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 182px;
  color: $color;
  path{
    fill: $firm-bgcolor;
  }

  &:hover{
    path{
      fill: $firm-bgcolor-dark;
    }
  }
  &:active{
    opacity: 0.3;
  }
}
