.footer{
  background-color: $bg-footer;
}
.footer__containers{
  min-height: 80px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

}
.footer__logo{
  display: none;
  margin: 0 auto;
}
.footer__social{
  width: 82%;
  padding: 0 4.5%;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.footer__list{
  min-height: 80px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0  40px;
  border-bottom: 1px solid $bg-footer-line;
  width: 100%;
}

.footer__link{
  path{
    fill: $reviev-color;
    transition: all 0.3s ease;
    }
    &:hover path{
      fill: $firm-bgcolor;
      transition: all 0.3s ease;
    }
    &:active path{
      fill: $reviev-color;
      opacity: 0.3;
      transition: all 0.3s ease;
    }
}
.footer__copyright{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 82%;
  min-height: 80px;
  padding: 0 4.5%;
  margin: 0 auto;
    height: 80px;
}
.footer__container{
    margin: 23px 0;
}
.footer__academy{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 182px;
  color: $color;
  path{
    fill: $firm-bgcolor;
  }
  .footer__developed{
    padding-top: 6px;
    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
  }
  &:hover{
    transition: all 0.3s ease;
    path{
      fill: $firm-bgcolor-dark;
    }
  }
  transition: all 0.3s ease;
  &:active{
    opacity: 0.3;
  }
}
.footer__logo-img{
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover{
    fill: rgba(70, 193, 170, 1);
  }
  &:active{
    opacity: 0.3;
  }
}

// transition: all 0.3s ease;
//  &:hover{
//    transition: all 0.3s ease;
//    color: $firm-bgcolor;
//  }
//  &:active{
//    transition: all 0.3s ease;
//    opacity: 0.3;
//  }


@media (min-width: $tablet-width) {

.footer__containers{
  width: 87%;
  padding: 0 6.5%;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer__logo{
  display: block;
  width: 185px;
  margin: 0;
}




.footer__social{
  width: 250px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.footer__copyright{
  width: 185px;
  margin: 0;
  padding: 0;
}
.footer__list{
  border: none;
  width: 100%;
}
}
@media (min-width: $desktop-width) {
.footer{
  width: 100%;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}
.footer__containers{
  width: 1050px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo{
  width: 185px;
}
.footer__social{
  width: 680px;
}
.footer__copyright{
  width: 185px;
}
.footer__list{
  justify-content: center;
}
.footer__item{
  margin: 0 21px;
}

















}
