.goods {
  width: 100%;
  height: 488px;
  margin: 0 auto;
  text-align: center;
  background: url("../img/hero-mobile@1x.jpg") 50% -16px no-repeat;
  position: relative;
}
.goods__head{
  width: 82%;
  padding: 74px 9% 0;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  padding-top: 70px;
  align-items: center;

}
.goods__list{
  padding: 0 9%;
  position: absolute;
  width: 82%;
  bottom: -15px;

}
.goods__item{
  height: 100px;
  display: flex;
  justify-content: space-between;
    position: relative;
  &:nth-child(1){
    background-color: $firm-bgcolor;
  }
  &:nth-child(2){
    background-color: $firm-bgcolor-dark;
  }
}
.goods__link{
  display: flex;
  align-items: center;
  align-self: center;
  color: $color-whete;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  width: 100px;
  text-align: left;
}
.goods__link-ico{
  opacity: 0.3;
  position: absolute;
  right: 10%;
  top: 20%;
}


@media (min-width: $tablet-width) { // 668
  .goods{
    width: 100%;
    min-height: 756px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    background: url("../img/hero-desktop@1x.jpg") 50% 0 no-repeat;
    &:after{
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 24px;
      background: url("../img/bg-zigzag-fill.svg") 50% 0 repeat;
      bottom: 0;
    }
  }
  .goods__head{
    font-size: 43px;
    line-height: 50px;
    padding-top: 150px;
  }
  .goods__list{
    width: 87%;
    height: 130px;
    padding: 0 6.5%;
    position: absolute;
    display: flex;
}
  .goods__item{
    width: 50%;
    bottom: 0;
        height: 130px;
  }
  .goods__link{
    font-size: 20px;
    line-height: 30px;
    margin-left: 37px;
  }
  .goods__link-ico{
    right: 8%;
  }
}

@media (min-width: $desktop-width) { //1050
  .goods{
    width: 100%;
    min-height: 756px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    background: url("../img/hero-desktop@1x.jpg") 50% 0 no-repeat;
    &:after{
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 24px;
      background: url("../img/bg-zigzag-fill.svg") 50% 0 repeat;
      bottom: 0;
    }
  }
  .goods__head{
    font-size: 53px;
    line-height: 57px;
    padding-top: 165px;
  }
  .goods__list{
    position: absolute;
    display: flex;
    width: 87%;
    bottom: -15px;
  }
  .goods__item{
    width: 50%;
    bottom: 0;
  }
  .goods__link{
    font-size: 20px;
    line-height: 30px;
    margin-left: 37px;
  }
  .goods__link-ico{
    right: 8%;

  }
}
