.header {
  width: 100%;
  min-height: 78px;
  position: relative;
  text-align: center;
  border-top: 1px solid $c-border;
  border-bottom: 1px solid $c-border;
}

.header__bg {
  position: relative;
  z-index: 3;
  background-color: $bgcolor;
}

.header__logo {
  display: block;
  padding-top: 21px;
  padding-bottom: 15px;
  cursor: default;
  left: 50%;
  margin-left: -43px;
  position: relative;
  z-index: 2;
  width: 86px;
  height: 35px;

  &--active {
    cursor: pointer;

    &:hover {
      opacity: 0.6;
      transition: all 0.3s ease;
    }

    &:active {
      opacity: 0.3;
      transition: all 0.3s ease;
    }
  }

  img {
    width: 86px;
    height: 35px;
  }
}

.header__btn {
  position: absolute;
  border: none;
  cursor: pointer;
  color: transparent;
  font-size: 0;
  top: 23px;
  left: 51%;
  margin-left: 100px;
  display: block;
  width: 30px;
  height: 30px;
  z-index: 3;
  background: url("../img/icon-menu-close.svg") center no-repeat;
  transition: all 0.3s ease;

  &--close {
    width: 25px;
    height: 23px;
    margin-left: 103px;
    top: 27px;
    background: url("../img/icon-menu-open.svg") center no-repeat;
    transition: all 0.3s ease;
  }
}

.header__nav {
  display: block;
  transition: all 0.3s ease;
  margin-top: 0;
  z-index: 1;
  min-height: 314px;

  &--close {
    margin-top: -2000px;
    transition: all 0.3s ease;
    position: relative;
    z-index: -1;
  }
}

.header__nav-list {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 10;
}

.header__item {
  list-style-type: none;
  border-bottom: 1px solid $c-border;
  position: relative;

  &--mobil {
    display: none;
  }

  &:nth-child(1) {
    border-top: 1px solid $c-border;
  }
}

.header__icon {
  position: absolute;
  left: 50%;
  margin-left: -130px;
  fill: #ececec;

  &--search {
    width: 18px;
    height: 18px;
  }

  &--cart {
    width: 22px;
    height: 22px;
  }
}

.header__link {
  display: block;
  text-decoration: none;
  width: 216px;
  color: $color;
  font-size: 17px;
  line-height: 24px;
  font-weight: bolder;
  margin: 27px auto;
  padding-left: 46px;

  &:hover {
    .header__icon {
      fill: $firm-bgcolor;
      transition: all 0.3s ease;
    }
    color: $color-hover;
    transition: all 0.3s ease;
  }

  &:active {
    .header__icon {
      fill-opacity: 0.3;
      transition: all 0.3s ease;
    }
    color: $color-link;
    transition: all 0.3s ease;
  }
}

@media (min-width: $tablet-width) {
  .header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 88px;
    position: relative;
  }

  .header__bg {
    background-color: rgba(0, 0, 0, 0);
    width: 150px;
    margin-left: 6%;
    position: absolute;
  }

  .header__logo {
    text-align: left;
    border: none;
    position: relative;
    z-index: 2;
    width: 113px;
    height: 46px;
    display: block;
    left: auto;
    margin-left: 0;

    img {
      width: 113px;
      height: 46px;
    }
  }

  .header__btn {
    display: none;
  }

  .header__label {
    display: none;
  }

  .header__nav {
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 99%;
    min-height: 156px;
    overflow: hidden;
  }

  .header__nav-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 6%;
  }

  .header__icon {
    position: absolute;
    margin-left: auto;

    &--search {
      right: 31px;
      top: 36px;
    }

    &--cart {
      left: 11%;
      top: 32px;
    }
  }

  .header__link {
    font-size: 15px;
    line-height: 24px;
    width: 250px;
    padding-left: 0;
  }

  .header__link-hidden {
    display: none;
  }

  .header__item {
    border: none;
    display: block;

    &--mobil {
      display: block;
      position: relative;
    }

    &--table {
      display: none;
    }

    &:nth-child(1) {
      order: 3;
      width: 25%;
      border: none;

      .header__link {
        width: 100%;
      }
    }

    &:nth-child(2) {
      order: 3;
      width: 25%;

      .header__link {
        width: 100%;
      }
    }

    &:nth-child(3) {
      order: 1;
      width: 61%;
      text-align: right;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        border-top: 88px solid $c-border;
        width: 1px;
        height: 0;
        right: 80px;
        top: 0;
      }
    }

    &:nth-child(4) {
      order: 2;
      width: 39%;
      text-align: right;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        border-top: 88px solid $c-border;
        width: 1px;
        height: 0;
        left: 0;
        top: 0;
      }

      .header__link {
        display: inline-block;
        font-size: 17px;
        line-height: 24px;
        font-weight: bold;
        margin-top: 31px;
        margin-bottom: 24px;
      }
    }

    &:nth-child(5) {
      order: 3;
    }

    &:nth-child(6) {
      order: 3;
    }

    &:nth-child(7) {
      order: 3;
      text-align: right;
      margin-left: auto;

      .header__link {
        font-size: 15px;
        line-height: 24px;
        font-weight: normal;
        text-align: right;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 88px;
    border-bottom: 1px solid $c-border;
    width: 100%;
  }

  .header__bg {
    left: 50%;
    margin-left: -75px;
  }

  .header__logo {
    padding-top: 8px;
    text-align: center;
    border: none;
    position: relative;
    z-index: 2;
    width: 149px;
    height: 64px;
    display: block;


    img {
      width: 149px;
      height: 72px;
    }
  }

  .header__nav {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
    left: 50%;
    margin-left: -525px;
  }

  .header__nav-list {
    width: 1050px;
    margin: 0;
    padding: 0;
    position: relative;
  }


  .header__link {
    margin-right: 0;
    font-size: 17px;
    line-height: 24px;
    width: 250px;
    padding-left: 0;
  }

  .header__item {
    display: block;
    border: none;

    &:nth-child(1) {
      order: 0;
      display: block;
      width: 184px;
      padding-top: 10px;
      border-top: none;
      border-right: 1px solid $c-border;
      margin-left: 1px;

      .header__link {
        width: 184px;
        margin-top: 20px;
      }
    }

    &:nth-child(2) {
      padding-top: 4px;
      order: 0;
      display: block;
      width: 184px;
      margin: 0 35px;

      .header__link {
        width: 184px;
      }
    }

    &:nth-child(3) {
      order: 0;
      display: block;
      border: none;
      width: 72px;
      margin-left: 268px;
    }

    &:nth-child(4) {
      order: 0;
      display: block;
      border: none;
      width: 266px;

      .header__link {
        width: 226px;
      }
    }

    &:nth-child(5) {
      order: 0;
      display: block;
      width: 220px;

      .header__link {
        margin: 23px 0 0 1px;
        width: 220px;
        font-size: 15px;
        line-height: 24px;
        font-weight: bold;
      }
    }

    &:nth-child(6) {
      order: 0;
      display: block;
      width: 185px;
      margin-top: 23px;

      .header__link {
        width: 185px;
        margin: 0 0 0 1px;
        font-size: 15px;
        line-height: 24px;
        font-weight: bold;
      }
    }

    &:nth-child(7) {
      order: 0;
      display: block;
      width: 350px;

      .header__link {
        width: 350px;
        margin-top: 23px;
      }
    }
  }
}
