.header {
  width: 100%;
  position: relative;
  text-align: center;
  border-top: 1px solid $c-border;
  border-bottom: 1px solid $c-border;

}
.header__container-logo{
   display: block;
   padding-top: 21px;
   padding-bottom: 15px;
   border-bottom: 1px solid $c-border;
}
.header__logo-image{
   position: relative;
   z-index: 2;
   width: 86px;
   height: 35px;
   &:hover{
     opacity: 0.6;
   }
   &:active{
     opacity: 0.3;
   }
}
.header__btn{
  display: none;
}
 .header__label{
   position: absolute;
   background: transparent;
   border: none;
   top: 27px;
   left: 51%;
   margin-left: 105px;

   display: block;
   width: 30px;
   height: 30px;
   cursor: pointer;
   color: transparent;
   font-size: 0;
   background: url("../img/icon-menu-open.svg") center no-repeat;
   z-index: 1;
   transition: 0.3s;
 }
 .header__btn:checked + .header__label {
   background: url("../img/icon-menu-close.svg") center no-repeat;
   width: 25px;
   height: 23px;
   transition: 0.3s;
 }
 .header__btn:checked ~ .header__nav {
   display: block;

 }
 .header__nav{
   display: none;

 }
 .header__nav-list{
   display: block;
   text-align: left;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }
 .header__item{
   list-style-type: none;
   border-bottom: 1px solid $c-border;
   position: relative;
   &:nth-child(n+5){
     display: none;
   }
 }
 .header__icon{
   position: absolute;
   left: 50%;
   margin-left: -130px;
 }
 .header__link{
   display: block;
   text-decoration: none;
   width: 216px;
   color: $color;
   font-size: 17px;
   line-height: 24px;
   font-weight: bolder;
   margin: 27px auto;
   padding-left: 46px;
   &:hover{
     color: $color-hover;
   }
   &:active{
     color: $color-link;

   }

 }

 @media (min-width: $tablet-width) {
   .header {
     width: 100%;
     margin: 0 auto;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     min-height: 88px;
     border-top: 1px solid $c-border;
     border-bottom: 1px solid $c-border;
     position: relative;
   }
   .header__container{
      width: 87%;
      padding: 0 6.5%;
   }
   .header__container-logo{
      text-align: left;
      border-bottom: none;
   }
   .header__logo{
     position: absolute;
     text-align: left;
     border: none;
   }
   .header__logo-image{
      position: relative;
      z-index: 2;
      width: 113px;
      height: 46px;
    }

   .header__btn{
     display: none;
   }
   .header__label{
     display: none;
   }
   .header__nav{
     margin: 0 auto;
     position: absolute;
     z-index: 1;
     top: 0;
     width: 87%;

   }
   .header__nav-list{
     display: flex;
     flex-wrap: wrap;
     align-self: center;
   }
   .header__icon{
     position: absolute;
     left: 32px;
     margin-left: auto;
     top: 35px;
   }
   .header__link{
     width: 668px;
     margin-right: 0;
     font-size: 15px;
     line-height: 24px;
     width: 250px;
     padding-left: 0;
   }
   .header__link-hidden{
     display: none;
   }
   .header__item{
     border: none;
     &:nth-child(1){
       order: 3;
       width: 25%;
       .header__link{
         width: auto;
         margin-top: 17px;
         margin-bottom: 0;
       }
     }
     &:nth-child(2){
       order: 3;
       width: 25%;
       .header__link{
        width: auto;
        margin-top: 17px;
        margin-bottom: 0;
       }
     }
     &:nth-child(3){
       order: 1;
       display: flex;
       align-items: center;
       align-self: flex-end;
       width: auto;
       margin-left: 48%;
       border-left: 1px solid $c-border;
       height: 88px;

       .header__link{
         width: 100%;
       }
     }
     &:nth-child(4){
       padding-top: 5px;
       order: 2;
       display: block;
       width: 265px;
       text-align: right;
       border-left: 1px solid $c-border;
       margin-left: auto;
       .header__link{
         width: 100%;
         font-size: 17px;
         line-height: 24px;
         font-weight: bold;

       }
     }
     &:nth-child(5){
       order: 3;
     }
     &:nth-child(6){
       order: 3;
     }
     &:nth-child(7){
       order: 3;
       display: block;
       width: 38%;
       margin-left: auto;

       .header__link{
         font-size: 15px;
         line-height: 24px;
         font-weight: normal;
         text-align: right;
         margin-top: 17px;
         margin-bottom: 0;
       }
     }
   }


 }


 @media (min-width: $desktop-width) { //1050
   .header {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     min-height: 88px;
     border-bottom: 1px solid $c-border;
     width: 100%;
   }
   .header__container{
      width: 1050px;
      padding: 0 50px;
      margin: 0 auto;
   }
   .header__container-logo{
     padding-top: 8px;
   }
   .header__logo{
     width: 1050px;
     padding: 0;
     text-align: center;
     border: none;
   }
   .header__logo-image{

     width: 149px;
     height: 72px;
 }
   .header__btn{
     display: none;
   }
   .header__label{
     display: none;
   }
   .header__nav{
     position: absolute;
     z-index: 1;
     width: 1050px;
     margin: 0 auto;
   }
   .header__nav-list{
     width: 1050px;
      margin: 0 auto;
   }
   .header__icon{
     position: absolute;
     left: 32px;
     margin-left: auto;
     top: 35px;
   }
   .header__link{
     margin-right: 0;
     font-size: 17px;
     line-height: 24px;
     width: 250px;
     padding-left: 0;

   }
   .header__item{
     display: block;
     border: none;
     &:nth-child(1){
       order: 0;
       display: block;
       width: 184px;
       padding-top: 10px;
       border-right: 1px solid $c-border;
       margin-left: 1px;
       .header__link{
         width: 184px;
       }
     }
     &:nth-child(2){
       order: 0;
       padding-top: 13px;

       display: block;
       width: 184px;
       margin: 0 35px;
       .header__link{
         width: 184px;
       }
     }
     &:nth-child(3){
       order: 0;
       display: block;
       border: none;
       width: 72px;
       border-left: 1px solid $c-border;
       margin-left: 260px;
       .header__link{
         width: 100%;
       }
     }
     &:nth-child(4){
       order: 0;
       display: block;
       border: none;
       border-left: 1px solid $c-border;
       width: 266px;
       .header__link{
         width: 226px;
       }
     }
     &:nth-child(5){
       order: 0;
       display: block;
       width: 220px;
       .header__link{
         margin: 17px 0 0 1px;
         width: 220px;
         font-size: 15px;
         line-height: 24px;
         font-weight: bold;
       }
     }
     &:nth-child(6){
       order: 0;
       display: block;
       width: 185px;
       .header__link{
         width: 185px;
         margin: 17px 0 0 1px;
         font-size: 15px;
         line-height: 24px;
         font-weight: bold;
       }
     }
     &:nth-child(7){
       order: 0;
       display: block;
       width: 350px;
       .header__link{
         width: 350px;

       }
     }
   }


 }
