.popap{
  background-color: $bg-popap;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
//  position: fixed;
//  display: none;
  z-index: 99;
}

.popap__container{
  text-align: center;
  width: 82%;
  padding: 0 4.5%;
  height: 336px;
  margin: 0 auto;
  display: block;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.popap__header{
  padding-top: 34px;
  font-weight: 25px;
  font-style: 30px;
  text-transform: uppercase;
}

.popap__size{
  font-weight: 15px;
  font-style: 30px;
  color: $reviev-color;
}
@media (min-width: $tablet-width) {
  .popap__container{
    width: 74%;
    height: 336px;
  }


}
@media (min-width: $desktop-width) {
  .popap__container{

    width: 74%;
    height: 336px;

  }
}
