.production{
  width: 260px;
  margin: 0 auto;
}
.production__header{
  font-size: 17px;
  line-height: 24px;
}
.production__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  path{
    fill: $firm-bgcolor;
  }
}
.production__header{
  width: 130px;
}

.production__video{
  background: url("../img/video-mobile@1x.jpg") 50% 0 no-repeat;
  width: 260px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.production__text{
  font-size: 13px;
  line-height: 24px;
  margin: 0 34px;
}
.production__btn{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $reviev-color;
  width: 190px;
  height: 50px;
  border: 2px solid $reviev-color;
}



@media (min-width: $tablet-width) {
  .production{
    width: 668px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .production__container{
    order: 2;
  }
  .production__header{
    width: 100%;
    margin-left: 40px;
  }
  .production__video{
    order: 1;
    background: url("../img/video-tablet@1x.jpg") 50% 0 no-repeat;
    width: 688px;
    height: 455px;
  }
  .production__text{
    order: 3;
  }
  .production__btn{
    order: 4;
  }
}
@media (min-width: $desktop-width) {
  .production{
    width: 1050px;
    margin: 0 auto;
    height: 455px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // ppppppppppppppppppppp
  }
  .production__container{
    order: 2;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .production__header{
    margin: 20px 0;
  }
  .production__video{
    order: 1;
    background: url("../img/video-desktop@1x.jpg") 50% 0 no-repeat;
    width: 682px;
    height: 455px;
  }
  .production__text{
    order: 3;
        width: 300px;
  }
  .production__btn{
    order: 4;
        width: 300px;
  }
}
