.reviews{
  width: 260px;
  margin: 0 auto;

}
.reviews__header{
  font-size: 25px;
  line-height: 30px;
}
.reviews__item{
  margin: 0;
  padding: 0;
}
.reviews__text{
  font-size: 13px;
  line-height: 30px;
}
.reviews__author-name{
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  word-wrap: break-word;
}
.reviews__author-contact{
  display: block;
  font-size: 17px;
  line-height: 30px;
  color: $color;
  width: 260px;
  margin-bottom: 36px;
  word-wrap: break-word;
}
.reviews__container-btn{
  position: relative;
  border: 1px solid $c-border;
  width: 100%;
  display: flex;
  cursor: pointer;
  &:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: $c-border;
    left: 50%;
    top: 0;
  }
}
.reviews__btn{
  background-color: inherit;
  border: none;
  width: 129px;
  height: 50px;
  padding: 0;
    cursor: pointer;
  &--img-prev{
    border: none;
    background-color: inherit;
    width: 49px;
    height: 26px;
    }
  &--img-next{
    border: none;
    background-color: inherit;
    width: 49px;
    height: 26px;
  }
}
.reviews__btn-write{
  margin-top: 20px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
  border: 2px solid $reviev-color;
  color: $reviev-color;
}
@media (min-width: $tablet-width) {
  .reviews{
    position: relative;
    width: 668px;
    min-height: 547px;
    display: flex;
    flex-wrap: wrap;
    &:after{
      content: "";
      position: absolute;
      width: 350px;
      height: 457px;
      background: url("../img/review@1x.jpg") center no-repeat;
      z-index: -1;
      margin-left: -33px;
    }
  }
  .reviews__header{
    font-size: 43px;
    line-height: 50px;
    order: 1;
    margin: 0;
    height: auto;
    height: 25px;
    padding-top: 86px;
  }
  .reviews__author-name{
    display: block;
    width: 670px;
    margin-top: 65px;
  }
  .reviews__item{
    display: block;
    position: relative;
    order: 3;
    width: 100%;
    margin-top: 0;
  }
  .reviews__container{
    position: absolute;
    border: none;
    width: 173px;
    bottom: 105px;
    right: 0;
    &:after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      background-color: none;
    }
  }
  .reviews__btn{
    order: 4;
  }
  .reviews__text{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 30px;
  }
  .reviews__btn-write{
    display: block;
    font-size: 17px;
    line-height: 20px;
    width: 171px;
    order: 2;
    height: 25px;
    margin: 0;
    margin-left: auto;
    margin-top: 86px;
  }
}
@media (min-width: $desktop-width) {
  .reviews{
    position: relative;
    width: 1050px;
    min-height: 547px;
    display: flex;
    flex-wrap: wrap;
    &:after{
      content: "";
      position: absolute;
      width: 350px;
      height: 457px;
      background: url("../img/review@1x.jpg") center no-repeat;
      z-index: -1;
      margin-left: 0;
    }
  }
  .reviews__header{
    display: block;
    font-size: 53px;
    line-height: 57px;
    order: 1;
    margin: 0;
    height: auto;
    height: 25px;
    padding-top: 72px;
    margin-left: 170px;
  }
  .reviews__author-name{
    display: block;
    width: 670px;
    margin-top: 65px;
    margin-left: 170px;
  }
  .reviews__author-contact{
        margin-left: 170px;
  }
  .reviews__item{
    display: block;
    position: relative;
    order: 3;
    width: 100%;
    margin-top: 0;
    top: -20px;
  }
  .reviews__container{
    position: absolute;
    border: none;
    width: 173px;
    bottom: 105px;
    right: 0;
    &:after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      background-color: none;
    }
  }
  .reviews__btn{
    order: 4;
  }
  .reviews__text{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 30px;
    margin-left: 170px;
  }
  .reviews__btn-write{
    display: block;
    font-size: 17px;
    line-height: 20px;
    width: 171px;
    order: 2;
    height: 25px;
    margin: 0;
    margin-left: auto;
    margin-top: 86px;
  }
}
