.reviews {
  width: 82%;
  padding: 0 9%;
  margin-top: 52px;
  margin-bottom: 44px;
}

.reviews__back {
  display: none;
}

.reviews__header {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 28px;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  word-wrap: break-word;
}

.reviews__author-contact {
  display: block;
  font-size: 17px;
  line-height: 30px;
  color: $color;
  width: 100%;
  margin-bottom: 31px;
  word-wrap: break-word;
}

.reviews__container-btn {
  position: relative;
  border: 1px solid $c-border;
  width: 98%;
  display: flex;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: $c-border;
    left: 50%;
    top: 0;
  }
}

.reviews__btn {
  background-color: transparent;
  border: none;
  width: 50%;
  height: 50px;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transition: all 0.3s ease;
    opacity: 0.6;
  }

  &:active {
    transition: all 0.3s ease;
    opacity: 0.3;
  }

  &--img-prev {
    border: none;
    background-color: inherit;
    width: 49px;
    height: 26px;
  }

  &--img-next {
    border: none;
    background-color: inherit;
    width: 49px;
    height: 26px;
  }
}

.reviews__btn-write {
  margin-top: 38px;
  padding-top: 12px;
  padding-bottom: 15px;
  width: 97%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
  border: 2px solid $reviev-color;
  color: $reviev-color;
  font-size: 18px;
  line-height: 20px;

  &:hover {
    transition: all 0.3s ease;
    background-color: $reviev-color;
    color: $color-whete;
  }

  &:active {
    transition: all 0.3s ease;
    color: rgba($color-whete, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;
    width: 88%;
    min-height: 482px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 6%;
    margin-top: 0;
  }

  .reviews__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .reviews__back {
    display: block;
    position: absolute;
    width: 350px;
    height: 457px;
    left: -6.9%;
    z-index: -1;
  }

  .reviews__header {
    display: block;
    font-size: 43px;
    line-height: 50px;
    order: 1;
    margin: 0;
    height: 25px;
    margin-top: 77px;
    margin-bottom: 67px;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    display: block;
    margin: 0;
    padding: 0;
    width: 99.5%;
    margin-left: 0.5%;
    word-wrap: break-word;
    margin-bottom: 57px;
  }

  .reviews__author-name {
    font-size: 18px;
    display: block;
    width: 99.5%;
    margin-left: 0.5%;
    margin-bottom: 5px;
  }

  .reviews__author-contact {
    display: inline;
  }

  .reviews__item {
    display: block;
    position: relative;
    order: 3;
    width: 100%;
    margin-top: 0;
  }

  .reviews__container-btn {
    position: absolute;
    width: 176px;
    bottom: 3px;
    right: 0;
    border: none;
    margin-right: 0.5%;

    &::after {
      display: none;
    }
  }

  .reviews__btn {
    order: 4;
  }

  .reviews__btn-write {
    display: block;
    font-size: 17px;
    line-height: 20px;
    width: 171px;
    order: 2;
    padding-top: 15px;
    padding-bottom: 8px;
    min-height: 25px;
    margin-left: auto;
    margin-top: -90px;
    margin-bottom: 45px;
    margin-right: 0.5%;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    margin: 0 auto;
    min-height: 600px;
  }

  .reviews__back {
    display: block;
    position: absolute;
    width: 350px;
    height: 457px;
    left: 0;
    top: 76px;
    z-index: -1;
  }

  .reviews__header {
    display: block;
    font-size: 53px;
    line-height: 57px;
    order: 1;
    margin: 0;
    height: 25px;
    padding-top: 148px;
    margin-left: 170px;
    margin-bottom: 23px;
  }

  .reviews__author-name {
    display: block;
    width: 670px;
    margin-top: 35px;
    margin-left: 175px;
  }

  .reviews__author-contact {
    margin-left: 175px;
  }

  .reviews__item {
    display: block;
    position: relative;
    order: 3;
    width: 100%;
    margin-top: 0;
    top: -20px;
  }

  .reviews__container-btn {
    position: absolute;
    border: none;
    width: 173px;
    bottom: 5px;
    right: 0;
    margin-right: 1px;

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      background-color: none;
    }
  }

  .reviews__btn {
    order: 4;
  }

  .reviews__text {
    display: block;
    margin-top: 70px;
    font-size: 17px;
    line-height: 30px;
    margin-left: 174px;
    margin-right: 10px;
    min-height: 50px;
    width: 780px;
    margin-bottom: 38px;
  }

  .reviews__btn-write {
    display: block;
    font-size: 17px;
    line-height: 20px;
    width: 171px;
    order: 2;
    height: 25px;
    margin-left: auto;
    margin-top: -40px;
    margin-right: 0;
    margin-bottom: -5px;
  }
}
