/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
/*stylelint-disable*/
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color: rgba(0, 0, 0, 1);
$color-hover: rgba(0, 0, 0, 0.6);
$color-link: rgba(0, 0, 0, 0.3);
$bgcolor: rgba(255, 255, 255, 1);
$color-whete: rgb(255, 255, 255);
$firm-bgcolor: rgba(98, 209, 187, 1);
$firm-bgcolor-dark: rgba(86, 195, 178, 1);
$reviev-color: rgba(68, 68, 68, 1);
$bg-footer: rgba(241, 241, 241, 1);
$bg-footer-line: rgba(229, 229, 229, 1);
$bg-popap: rgba(255, 255, 255, 0.9);
$c-border: rgba(236, 236, 236, 1);
$f-color: rgba(35, 31, 32, 1);
$interior: rgba(20, 144, 128, 1);

/*
@media (min-width: $tablet-width) {width: 668px;}
@media (min-width: $desktop-width) {width: 1150px;}
transition: all 0.3s ease;
*/

html {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: $color;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
