// ------------------------------------------ //
// GENERAL
// ------------------------------------------ //
@import "./general/normalize.scss";
@import "./general/config.scss";
@import "./general/mixins.scss";
@import "./general/global.scss";

// ------------------------------------------ //
// PAGE BLOCKS
// ------------------------------------------ //
@import "./blocks/header.scss";
@import "./blocks/goods.scss";
@import "./blocks/baskets.scss";
@import "./blocks/about.scss";
@import "./blocks/reviews.scss";
@import "./blocks/contacts.scss";
@import "./blocks/map.scss";
@import "./blocks/contacts-btn.scss";
@import "./blocks/footer.scss";
@import "./blocks/popap.scss";
